#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  /* position: absolute; */
  width: 100%;
  color: #040303;
  background-color: #fff;
  height: 56px;
}
