.nav-tabs .nav-link.active {
  background-color: #002d62; /* 탭 활성화 배경색 */
  color: #fff; /* 활성화 탭 글자 색 */
}

.form-label {
  font-weight: 600;
}

.text-primary {
  color: #002d62 !important; /* 결과 텍스트 색상 */
}

/* 중앙 정렬 및 크기 조정 */
.currency-converter {
  /* max-width: 1200px; */
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}
